.flash {
	&-terminal {
		animation: caret 1s steps(1) infinite;
		background: hsla(0, 0%, 97%, 0.65);
	}

	&-heading {
		display: inline-block;
		height: 80px;
		vertical-align: top;
		animation: caret 1.25s steps(1) infinite;
		background-color: rgba(116, 127, 224, 0.65);
	}
}

@media only screen and(max-width: 767px) {
	.flash-heading {
		height: 2rem;
	}
}
