.project {
	&__card {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-bottom: 60px;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05),
			0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
		overflow: hidden;
		height: 350px;
	}
	&__image {
		position: relative;
		width: 40%;
		top: 0;
		left: 0;
	}

	&__info {
		padding: 50px;
		width: 65%;

		& h1 {
			margin-bottom: 35px;
		}

		& p {
			margin-bottom: 30px;
		}
	}

	&__skills {
		display: flex;
		flex-wrap: wrap;
	}

	&--skill {
		border-radius: 4px;
		border: 2px solid #92eac0;
		margin-bottom: 10px;
		margin-right: 10px;
		padding: 5px;
		color: #525f7f;
		font-size: 0.85em;
	}

	&__links {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	&-link {
		display: inline-block;
		box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		margin-right: 20px;
		margin-top: 20px;
		padding: 0 14px;
		background: #747fe0;
		color: #fff;
		font-size: 0.9em;
		font-weight: 600;
		line-height: 40px;
		text-decoration: none;
		transition: all 0.15s ease;
		white-space: nowrap;

		&:hover {
			box-shadow: 0 1rem 2rem rgba(#000, 0.2);
			transform: translateY(-0.3rem);
		}

		&--secondary {
			background: #fff;
			color: #747fe0;

			&:hover {
				box-shadow: 0 1rem 2rem rgba(#000, 0.2);
				transform: translateY(-0.3rem);
			}
		}

		&--disabled {
			cursor: not-allowed;
		}
	}
}

@media only screen and(max-width: 767px) {
	.project {
		&__info {
			text-align: left;
			padding: 25px;
			width: 100%;

			h1,
			p {
				text-align: center;
			}
		}

		&__card {
			height: auto;
		}

		&__image {
			display: none;
		}

		&__skills {
			justify-content: center;
		}
		&__links {
			justify-content: center;
		}
	}
}
