$bg-color: rgb(246, 249, 252);
$body-text: rgb(82, 95, 127);
$header-text: rgb(116, 127, 224);
$terminal-header: rgb(228, 227, 229);
$terminal-window: rgb(90, 93, 122);
$terminal-input: rgb(247, 247, 247);
$terminal-return: rgba(255, 223, 107, 0.9);
$terminal-red: rgb(249, 98, 86);
$terminal-red-border: rgb(246, 85, 73);
$terminal-yellow: rgb(253, 188, 61);
$terminal-yellow-border: rgb(255, 181, 36);
$terminal-green: rgb(51, 201, 72);
$terminal-green-border: rgb(45, 187, 65);
